body {
    background-color: darkgray;
}

.badge{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6em 6em 6em 3em 6em;
}

.top{
    color: white;
    background-color: red;
    border-radius: 20px;
    grid-column: 2/3;
    grid-row: 2/5;

}
.text{
    text-align: center;
}
#top{
    background-color: white;
    grid-column: 2/3;
    grid-row: 3/4;

}
.ME{
    font-size: 3em;
    text-align: center;
}